// @font-face {
//   font-family: "lxgw mono";
//   src: url('https://jiangbao-1258001083.cos.ap-shanghai.myqcloud.com/LXGWWenKaiMono-Regular.ttf');
// }

$global-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$header-title-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$global-line-height: 1.8;
$global-font-color: #333;
$header-title-font-size: 1.4rem;
// $global-font-size: 17px;